<a href="https://colab.research.google.com/github/Pavani7849/Lakshmi_INFO5731_-Fall2021/blob/main/in_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
results=dict()
text='welcome to python '
for c in text:
  count=text.count(c)
  results[c]=count
print(results)

{'w': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 3, 'm': 1, ' ': 3, 't': 2, 'p': 1, 'y': 1, 'h': 1, 'n': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [9]:
# write your answer here
items=[1,3,5]
sum=0
for i in items:
  sum+=i;
print(sum)

9

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [12]:
# write your answer here
text='restartrrrr'
text[0]+text[1:].replace(text[0],'$')

'resta$t$$$$'

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [35]:
# write your answer here

import sys
#a=int(sys.argv[1])
#b=int(sys.argv[2])
a=4
b=2
S=3.14*(1+a/b)**3

print(str(S))

84.78

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [27]:
# write your answer here
input=(1,2,3,4)
element=5
print('Element Present in touple : '+str(element in input))

Element Present in touple : False

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [29]:
# write your answer here
input=([2,3,4,5,23,1])
print("Min: "+str(min(input)))
print("Max: "+str(max(input)))

Min: 1
Max: 23

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [33]:
# write your answer here
input=[1,3,4,1,6,1,3,2,5,2,9,8]
output=set()
for n in input:
  if input.count(n)>1:
    output.add(n)
if len(output)>0:
  print(output)
else:
  print(-1)

{1, 2, 3}